table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #dddddd;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #0A2558;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  header a:hover {
    color: #ddd;
  }
  
  